body {
    background-color: slategray;
    margin: 15px;

}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 5px;
}


button {
    font-size: larger;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-family: monospace;
    background-color: chocolate;
    border-radius: 10px;
    width: 200px;
    border: solid black 2px;
    box-shadow: 2px 2px 2px;
}

button:hover {
    background-color: darksalmon;
    transition: 0.5s;
}

button:not(:hover) {
    transition: 0.5s;
}

ul {
    display: grid;
}

ul li {
    margin: 10px;
}

.box {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: lightgrey;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
}

#question {
    font-size: x-large;
}

#list {
    visibility: hidden;
}

#startzone {
    visibility: visible;
}